@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse your Closit";
}
<h1>@ViewData["Title"]</h1>
<body>
    <div class="row">
        <!-- Hero section -->
    </div>
    <hr>
    <div class="row"> 
        <div id="filters" class="col-md-4 container">
            <div class="row container" style="padding-right: 0px"> 
                <!-- <div class="card">
                    <div class="card-body"> -->
                        <h5 class="card-title">Filters</h5>
                        <hr>
                        <div class="row"> 
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Go</button>
                            </form>
                        </div>
                    <!-- </div>
                </div> -->
            </div>
        </div>
        <div id="selections" class="col-md-8 ">
            <h5 class="card-title">Selections</h5>
        </div>
    </div>
</body>