@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse your Closit";
}
<body>
    <div class="container">
        <div class="row">
            <h1 style="margin-top: .5rem">@ViewData["Title"]</h1>   
        <hr>
        </div>
        <div class="row"> 
            <div id="filters" class="col-md-4 container">
                <div class="row container" style="padding-right: 0px"> 
                    <h5 class="card-title">Filters</h5>
                    <hr>
                    <div class="row"> 
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Go</button>
                        </form>
                    </div>
                </div>
                &nbsp;
                <div id="selections" class="row container">
                    <h5 class="card-title">Selections</h5>
                    <hr>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/skirt.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                    <script>
                    [].forEach.call(document.querySelectorAll('.col'), function (el) {
                        el.style.visibility = 'hidden';
                    });
                    
                    @* [].forEach.call(document.querySelectorAll('.col'), function (el) {
                        el.style.visibility = 'visible';
                    }); *@
                    </script>        
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/adjustable.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/aerieGraphic.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/aerieWide.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/highRise.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/highestRise.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/kenyonbitch.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/nikeAir.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col"> @*box 1*@
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="to-do" role="img" aria-label="Placeholder: placeholder"
                        preserveAspectRatio="xMidyMid slice" focusable="false"> == $0
                            <title>Placeholder</title>
                            <img src="images/oversize.jpg" style="width:100%;height:100%">
                        </svg>
                        <div class="card-body">
                            <p class="card-text">
                                "to-do should be reading from the database"
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>