@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron jumbotron-fluid" style="background-color: gray; color: white;">
    <div class="container text-center" style="padding-top: 5rem; padding-bottom: 5rem;">
        <h1 class="display-4">Welcome to your Clos.it</h1>
        <p class="lead">The digital closet of your dreams</p>
    </div>
</div>
&nbsp;  
<div class="container row">
    <div class="col-6">
        <h4>Blog</h4>
        <p>Lorem Ipsum</p>
    </div>
    <div class="col-6">
        <h4>Curated Looks</h4>
        <p>@DateTime.Now</p>
    </div>
</div>