@page
@model BrowseModel
@{
    ViewData["Title"] = "Browse your Shop";
}
<body>
    <div class="container">
        <div class="row">
            <h1 style="margin-top: .5rem">@ViewData["Title"]</h1>   
        <hr>
        </div>
        <div class="row"> 
            <div id="filters" class="col-md-4 container">
                <div class="row container" style="padding-right: 0px"> 
                    <h5 class="card-title">Filters</h5>
                    <hr>
                    <div class="row"> 
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Go</button>
                        </form>
                    </div>
                </div>
                &nbsp;
                <div id="selections" class="row container">
                    <h5 class="card-title">Selections</h5>
                    <hr>
                </div>
            </div>
            <div class="col-md-8 g-3">   
                <div class="row">
                    <div class="col-4 container" style="margin-bottom: 1.5rem; "> @*Do visibility at this col-4 container level*@
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/skirt.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    "White Skirt"
                                </p>
                            </div>
                        </div>    
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            @* <a href="./listing" class="stretched-link"></a> *@
                            <img src="images/oversize.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Oversized Plaid Jacket
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/aerieGraphic.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Love This Graphic Tee
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/aerieWide.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Chunky White Sweater
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/highRise.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    High Rise Blue Jeans
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/highestRise.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Highest Rise Blue Jeans
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/shoes.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Oakmont TR: Pink/Mint
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/nikeAir.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Black Nike Airs
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 container" style="margin-bottom: 1.5rem;"> 
                        <div class="card container-fluid shadow-sm" style="object-fit:scale-down; padding-right: 0px; padding-left: 0px;">
                            <img src="images/aerieWonder.jpg" >
                            <div class="card-body">
                                <p class="card-text">
                                    Wonder Knit Crew
                                </p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>